@import "tailwindcss";

:root {
  --dv: #1c1c2c; /* Dark Violet */
  --mi: #4a0735; /* Morado Intenso */
  --am: #56a3fa; /* Azul Mediterráneo */
  --lv: #b0a4d4; /* Lavanda */
  --gp: #a6a6a6; /* Gris Plata */
  --bp: #f7f7f7; /* Blanco Perla */
  --mo: #1c1c2c; /* Morado Oscuro */
  --ga: #2f3034; /* Gris Plomo */
  --ls: #b1a7d4; /* Lavanda Suave */
  --an: #2a3c64; /* Azul Noche */
  --mo: #381b46;
  --bh: #f1f1f1; /* Blanco Hueso */
  --lk: #675992d8;
  --ml: #810c5c;
}

/* index.css */
@font-face {
  font-family: "Park-regular";
  src: url("./font-text/Kulim_Park/KulimPark-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* index.css */
@font-face {
  font-family: "Park-semibold";
  src: url("./font-text/Kulim_Park/KulimPark-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Park-regular", sans-serif;
}
body {
  background-color: var(--dv);
  box-sizing: content-box;
  padding: 5%;
  height: 100%;
  padding-top: 0;
}
a {
  font-family: "Park-semibold", sans-serif;
}
.spacer {
  opacity: 0;
}
.linkText {
  font-size: clamp(0.15rem, 2vw, 7rem);
}
.Text {
  font-size: clamp(0.15rem, 2vw, 7rem);
}
.Textp {
  font-size: clamp(0.1rem, 1vw, 5rem);
}
.titleHard {
  font-size: clamp(0.4rem, 6vw, 50rem);
}
.title {
  font-size: clamp(0.2rem, 4.2vw, 20rem);
}
.subtitle {
  font-size: clamp(0.1rem, 2.5vw, 10rem);
}
.button {
  font-size: clamp(0.1rem, 1vw, 4rem);
}

.hijo.hovered {
  position: absolute;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
}
.element {
  opacity: 0;
  transform: translateY(50px); /* Lo posicionamos hacia abajo */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.element.visible {
  opacity: 1;
  transform: translateY(0); /* Se mueve a su posición original */
}

.shadow {
  box-shadow: 0 0 0.3vw var(--lv);
}
