@import "tailwindcss";

:root {
  --dv: #1c1c2c; /* Dark Violet */
  --mi: #4a0735; /* Morado Intenso */
  --am: #56a3fa; /* Azul Mediterráneo */
  --lv: #b0a4d4; /* Lavanda */
  --gp: #a6a6a6; /* Gris Plata */
  --bp: #f7f7f7; /* Blanco Perla */
  --mo: #1c1c2c; /* Morado Oscuro */
  --gp: #2f3034; /* Gris Plomo */
  --ls: #b1a7d4; /* Lavanda Suave */
  --an: #2a3c64; /* Azul Noche */
  --bh: #f1f1f1; /* Blanco Hueso */
}

/* index.css */
@font-face {
  font-family: "Park-regular";
  src: url("./font-text/Kulim_Park/KulimPark-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* index.css */
@font-face {
  font-family: "Park-semibold";
  src: url("./font-text/Kulim_Park/KulimPark-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Park-regular", sans-serif;
}
body {
  background-color: var(--dv);
  padding: 2.5%;
}
a {
  font-family: "Park-semibold", sans-serif;
}

.linkText {
  font-size: clamp(0.5rem, 2vw, 4rem);
}
