:root {
  --dv: #1c1c2c;
  --mi: #4a0735;
  --am: #56a3fa;
  --lv: #b0a4d4;
  --gp: #a6a6a6;
  --bp: #f7f7f7;
  --mo: #1c1c2c;
  --gp: #2f3034;
  --ls: #b1a7d4;
  --an: #2a3c64;
  --bh: #f1f1f1;
  --pl: #381b46;
}
