:root {
  --morado-intenso: #4a0735; /* Morado profundo */
  --azul-mediterraneo: #2e5a8d; /* Azul oscuro */
  --lavanda: #b0a4d4; /* Azul-lavanda claro */
  --gris-plata: #a6a6a6; /* Gris neutro */
  --blanco-perla: #f7f7f7; /* Blanco suave */
}
